<%# 
author: ngtuonghy
date: 2025-02-22 
%>

<form>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="module module-login span4 offset4">
          <form class="form-vertical">
            <div class="module-head">
              <h3>Sign In</h3>
            </div>
            <div class="module-body">
              <div class="control-group">
                <div class="controls row-fluid">
                  <p>day la thong bao</p>
                </div>
              </div>
              <div class="control-group">
                <div class="controls row-fluid">
                  <input
                    class="span12"
                    path="userName"
                    id="username"
                    maxlength="400"
                    placeholder="Username"
                  />
                </div>
              </div>
              <div class="control-group">
                <div class="controls row-fluid">
                  <input
                    id="password"
                    cssClass="span12"
                    path="password"
                    placeholder="Password"
                  />
                </div>
              </div>
            </div>
            <div class="module-foot">
              <div class="control-group">
                <div class="controls clearfix">
                  <button type="submit" class="btn btn-primary pull-right">
                    Login
                  </button>
                  <label class="checkbox">
                    <input type="checkbox" /> Remember me
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/.wrapper-->
</form>
